<nav class="navbar navbar-expand-lg navbar-light fixed-top d-flex">
    <button class="navbar-toggler navbar-toggle ml-3" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">test</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav d-flex ml-auto mx-auto">
            <li class="nav-item">
                <a href="#home-projects-section" class="nav-link px-4 text-center">Projects</a>
            </li>
            <li class="nav-item">
                <a href="#home-skills-section" class="nav-link px-4 text-center">Skills</a>
            </li>
            <li class="nav-item">
                <a href="#home-about-section" class="nav-link px-4 text-center">About</a>
            </li>
            <li class="nav-item">
                <a href="#home-contact-section" class="nav-link px-4 text-center">Contact</a>
            </li>
            <!-- <li class="nav-item">
                <a href="/assets/fcresume.pdf" class="nav-link px-4 text-center">Resume</a>
            </li> -->
        </ul>
    </div>
</nav>